@import "lib/normalize.css"
@import "lib/main.css"
@import "animations.css"


mainColor = #2d78bc
mainMargin = 10px
bannerSize =  (940px / 2) - (mainMargin * 2)

a, a:hover, a:visited
  color mainColor

body
  font-family Oswald, sans-serif
  background url(../img/cc.jpg) no-repeat center center fixed
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  background-size cover
  padding-top 40px
  margin 0

#menu
  list-style none
  width 317px
  margin 0 0 0 -156px
  left 50%
  padding 0
  top 0
  position fixed
  z-index 1000
  
#menu li
  background #111
  display inline-block
  width 33%
  text-align center

  a
    color #fff  
    font-family Oswald, sans-serif
    font-size 22px
    text-decoration none
    text-transform uppercase
    line-height 50px
  &.c1 a:hover
    color #ed829c
  &.c2 a:hover
    color #f0ea5a
  &.c3 a:hover
    color #59cbde
#teaser
  margin -70px auto 0
  overflow hidden
  width 100%
  height 0
  padding-top 862px
  background url(../img/teaser.png) no-repeat center center

#lineup
  width 312px
  margin 50px auto 0
  
  .band
    position relative
    padding 0 10px
    color #fff
    background #111
    background rgba(17,17,17,1)
    font-family Oswald, sans-serif
    margin 5px 0
    .img
      position absolute
      z-index 0
      display none
      top 0
      right 0
      bottom 0
      left 0
      -webkit-animation slide 10s infinite ease-in-out alternate
    h1
      position relative
      z-index 100
      font-weight 400
      margin 0
      text-transform uppercase
      cursor pointer
    .info
      position relative
      z-index 100
      overflow hidden
      height 0
      p
        font-weight 300
        padding-bottom 10px
    .play
      display inline-block
      color #fff
      text-decoration none
      line-height 23px
      &:before
        content " "
        display inline-block
        width 23px
        height 23px
        position relative
        top 4px
        margin-right 5px
        background url(../img/play-pause.png)
      &.playing:before
        background-position 0 23px

@media only screen and (max-device-width: 480px) {
  #lineup .band { background-color: rgba(17,17,17,0.7) }
}

#images
  z-index -10
  position fixed
  top 0
  bottom 0
  left 0
  right 0
  & > *
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    

#news
  width 312px
  margin 40px auto
  color #eee
  background #111
  padding 10px 0
  h1 
    font-size 22px
    font-weight normal
    text-align center
  .tweet_list
    list-style none
    margin 0
    padding 0 20px
    li
      margin 20px 0
      a
        color #2eafd7
  a.more
    text-align center
    font-size 16px
    display block
    color #e86995